/* Fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

@import url("components/navigation.css");
@import url("components/feed.css");
@import url("components/launchpad.css");
@import url("components/trade.css");

/* Components */
/* @import url("components/name_of_component.css"); */

@font-face {
 font-family: "KronaOne";
 src: url("../fonts/KronaOne-Regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: "KronaOne";
  background-color: #161720;
}
.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

i {
  color: blueviolet;
}

.container {
  width: 100%;
  height: auto;
  margin: 50px auto;
  justify-content: center;
  border-radius: 20px;
}


.wrapper {
  display: flex;
  justify-content: space-between;
}

._scorebatEmbeddedPlayer_ {
  border-radius: 20px;
}

@media (max-width: 800px) {
  /* For a screen < 960px, this CSS will be read */
  .launchpad, .highlights {
    display: none;
  }

  .wrapper-feed {
    height: 100%;
    width: 100%;
    padding: 0;
  }
}
.d-none {
  display: none;
}
