.wrapper-feed {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin: 0 auto;
  padding: 0 50px;
}

.feed {
  text-align: center;
}

.feed h1{
  color: white;
  letter-spacing: 5px;
}


.surcouche {
  background-color: #161720;
  margin: 8px;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.league {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgba(137, 43, 226, 0.151);
  transition: 0.3s;
  cursor: pointer;
}

.league:hover {
  color: white;
  transform: scale(0.9);
  transition: 0.3s;
}







.classement h4, .classement-header h4  {
  color: red;
  font-weight: 100;
}


.classement, .classement-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  height: 50px;
  width: 90%;
  background-color: rgba(137, 43, 226, 0.151);
  color: white;
  border-radius: 20px;
  transition: 0.3s;
}

.classement-header {
  transform: scale(1.1);
}

.classement:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
}



.classement-test {
  border-collapse: separate;
  width: 100%;
  text-align: center;
  border-spacing: 0 3px;
  padding: 10px;
  color: rgb(150, 150, 150);
  font-size: 12px;
}

thead tr {
  color: rgb(196, 196, 196);
}

tr {
  border-radius: 20px;
  transition: 0.3s;
  /* text-align: start; */
}

tbody tr:hover {
  background-color: #161720;
  transition: 0.3s;
}

th, td {
  padding: 0 5px;
}

.team, .team-header {
  /* text-align: start; */
  text-align: start;
}
