.launchpad {
  border-left: 1px solid white;
  width: 20%;
  height: 100vh;
  padding: 0 30px;
  color: white;
  position: sticky;
  top: 0;
  overflow: scroll;
}

.launchpad h3 {
  margin: 0 auto;
  padding: 30px 0;
  color: white;
  letter-spacing: 5px;
  text-align: center;
}
