nav{
  width: 20%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 30px;
  height: 100vh;
  position: sticky;
  border-right: 1px solid rgb(174, 174, 174);
  top: 0;
}

nav h3 {
  margin: 0 auto;
  padding-top: 30px;
  color: white;
  letter-spacing: 10px;
}

.tools {
  position: relative;
  color: rgb(70, 70, 70);
}


nav a {
  padding: 15px 0;
  display: list-item;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  transition: 0.3s;
}

nav a:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
}

i {
  padding: 0 10px;
}

.fa-long-arrow-alt-left {
  position: absolute;
  right: 0;
  text-align: center;
}

.main-tools, .other-tools {
  border-bottom: 1px solid rgb(174, 174, 174);
}
